/* ============ GERAL ============ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  /* Primary Color */
  --brand-green: hsl(170, 100%, 26%);
  --brand-green-hover: hsl(170, 100%, 14%);
  --brand-green-light: hsl(148, 23%, 89%);
  --brand-green-light-02: hsl(180, 14%, 97%);
  --brand-beige: hsl(39, 100%, 97%);

  /* Secondary Color */
  --gray-headline: hsl(105, 100%, 5%);
  --grady-paragraph: hsl(104, 16%, 24%);
  --white: hsl(0, 0%, 100%);

  /* Variables */
  --nav-height: 7.2rem; /* variável criada para definir a altura do nav por será feito cálculos com ela */
}

html, body{
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay; /* deixa a barra de rolagem por cima do layout */
}

ul{
  list-style: none;
}

.wrapper{
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/* ============ NAVGATOR ============ */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--nav-height); 

  position: fixed; /* Adicionamos isso para manter o nav fixo no topo */
  top: 0; /* ajustando a posição do nav */
  left: 50%; /* ajustando a posição do nav */
  transform: translateX(-50%); /* ajustando a posição do nav */
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll{
  background-color: var(--brand-green);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path{
  fill: #fff;
}

nav.scroll button path{
  stroke: #fff;
}

/* ============ MENU EXPANDED ============ */

body.menu-expanded{
  overflow: hidden;
}

/* estou informando que tudo vai desaparecer menos o que está no nav */
body.menu-expanded > :not(nav) { 
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--brand-green);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

body.menu-expanded nav{
  position: relative;
}

.menu ul:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;
}

.menu ul li a{
  text-decoration: none;
  color: var(--white);
}

.menu .button{
  background: #FFFFFF;
  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--brand-green);
 
  display: inline-block;
  padding: 16px 32px;

  margin: 4.8rem 0 8rem 0;

}

.social-links{
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button{
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path{
  fill: #fff;
}

body.menu-expanded button path{
  stroke: #fff;
}

nav button{
  background: none;
  border: none;
  cursor: pointer;
}

/* ============ HEADER ============ */

header {
  margin: calc(4.1rem + var(--nav-height)) auto 0 auto; /* aajustando o header junto ao nav */
  padding: 0 2rem 0 2rem;
}

header::before{
  content: "";

  width: 100%;
  height: calc(108rem + var(--nav-height)); /* ajustando o before junto ao nav */

  background-color: var(--brand-green-light);

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--brand-green);
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--gray-headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header p {
  font: 1.8rem;
  line-height: 150%;
  margin-bottom: 3.2rem;

  color: var(--grady-paragraph);
}
 
header button {
  background-color: var(--brand-green);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  border: none;
  border-radius: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  margin: 0 auto 6rem auto;

  color: var(--white);

  text-transform: uppercase;

  font-weight: 700;
}

header img{
  display: block;

  width: 26.4rem; /* width definido para que a imagem acompanhe a mudança de tamanho */

  margin-inline: auto;

  object-position: 0 2rem; /* muda a posição da imagem dentro dela mesma */
}

.numbers {
    width: 32.7rem;
  padding-block: 4rem; /* padding referente ao padding-top e padding-bottom */
  margin-inline: auto; /* margem referente ao margin-left e margin-right */

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.number-content h3{
  font-size: 4.8rem;
  line-height: 130%;
  margin-bottom: 0.4rem;
}

.number-content p {
  margin: 0;
  line-height: 150%;
  color: var(--brand-green);
}

